* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sharedstyles  */

.font-inter {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.colorgreen {
  color: #30b868;
}

.btn {
  max-width: 164px;

  padding: 12px 16px;
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

/* mainstyles */

/* nav-section-css */

#site-header {
  /* border: 1px solid red; */
  background-color: #ffffff;
  max-width: 1600px;
}

#site-header .nav-container {
  /* border: 1px solid red; */
  max-width: 1600px;
  max-height: 92px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container .logo {
  padding-left: 120px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-container .navbar {
  padding: 34px;
}

.nav-container .navbar ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-container .navbar a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  line-height: 152%;
  font-weight: 500;
}

.header-button {
  /* border: 5px solid red; */
  margin-right: 120px;
}

/* hero-section-css */

#hero-section {
  /* border: 30px solid brown; */
  width: 100%;

  position: relative;
  height: 674px;
  background-size: cover;
  background: url("./assets/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-section .hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(18, 38, 55, 0.5);
}

#hero-section .hero-content {
  position: relative;
  max-width: 760px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

#hero-section .hero-content {
  /* border: 2px solid red; */
  max-width: 1600px;
  max-height: 674px;
  margin: 118px 120px 120px 177px;
  /* padding: 51px 295px 295px 76px; */
  gap: 20;
  align-items: center;
}

#hero-section .hero-content h1 {
  font-size: 72px;
  /* border: 5px solid red; */
  margin: o auto;
  line-height: 84px;
  /* max-width: 1360px; */
}

#hero-section .highlight {
  color: #36b36b;
  font-weight: 700;
}

#hero-section p {
  font-size: 16px;
  /* border: 10px solid; */
  margin: 0 auto;
  line-height: 24px;
  color: #ffffff;
  max-width: 700px;
  text-align: center;
}

.hero-content .status-badge {
  /* border: 10px solid green; */
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 14px;
  border-radius: 999px;
  background-color: #ffffff;
  color: #2f855a;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.status-badge .hero-badge {
  gap: 8px;
  background: #ffffff;
  color: #2e7d5b;
  padding: 6px;
  border-radius: 999px;
  white-space: nowrap;
}

.status-badge .status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #2f855a;
  box-shadow: 0 0 0 4px rgba(47, 133, 90, 0.25),
    0 0 0 8px rgba(47, 133, 90, 0.12);
}

.hero-buttons {
  /* border: 5px solid blueviolet; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.hero-buttons button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 52px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 16px;
}

.hero-buttons .buttonhero1 {
  max-width: 251px;
  height: 52px;
  gap: 10px;
}

.buttonhero1 .arrow {
  padding-top: 5px;
}

.hero-buttons .buttonhero2 {
  width: 198px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  height: 52px;
}

/* points-section-css */

#points {
  border: 2px solid red;
  max-width: 1600px;
  /* margin-left: 120px; */
}

#points .points-header {
  margin: 0 auto;
  /* width: 1360px; */
  text-align: center;
  padding-top: 50px;
}

#points .points-header h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}

#points .points-header p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}

/* card-section-css */
.cards {
  max-width: 1360px;
  margin: 48px auto 120px; /* center horizontally */
  display: flex;
  justify-content: space-between;
  gap: 24px;

  padding: 0;
  box-sizing: border-box;
}

.cards .single-card {
  flex: 1;               
  max-width: 322px;      
  background: #ffffff;
  border-radius: 12px;
  padding: 32px 24px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.single-card .icon {
  width: 60px;
  height: 60px;
  background-color: #ff5b5b;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.single-card .icon img {
  width: 28px;
  height: 28px;
}

.single-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.single-card p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #627382;
}
